<%- include partials/header.ejs %>
<head>
    <link rel="stylesheet" type="text/css" href="/css/assignment.css">
</head>

<div class="container-fluid">
    <div class="row">
        <div class="col assignment-details">
            <h2> Assignment Page for "<%- assignment.name %>" </h2>
            <div class="row">
                <div class="col">
                    <a class="btn btn-outline-dark" href="/course?courseid=<%= course._id %>">Return to Course</a>
            <% if (instructor) { %>
                        <a class="btn btn-outline-dark" href="/edit-assignment?assignid=<%= assignment._id %>">Edit Assignment</a>
            <% } %>
                </div>
            </div>
            <br>

            <!--
                I don't really like this drag and drop library. Its css doesn't seem to play well with bootstrap either. I also dislike how it uploads automatically.
                Let's keep it simple for now.
            -->
            <!-- <div class="row">
                <div class="col">
                    <h5>Submit project file(s)</h5>
                    <form class="box text-center" method="POST" action="/assignment/upload" enctype="multipart/form-data">
                        <div class="box__input">
                            <input class="box__file" type="file" name="files" id="file" data-multiple-caption="{count} files selected" multiple />
                            <label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
                            <br><button class="btn btn-primary" type="submit">Upload</button>
                        </div>
                        <div class="box__uploading">Uploading&hellip;</div>
                        <div class="box__success">Done!</div>
                        <div class="box__error">Error! <span></span>.</div>
                    </form>
                </div>
            </div> -->
            <h4>Submission</h4>
            <% let param_hidden = [{name: 'assignid', value: assignment._id}] %>
            <% let param_url = 'assignment/upload/submission' %>
            <% let param_file = 'submission' %>
            <%- include partials/file-upload.ejs %>


            <h5>View test cases</h5>
            <!-- TODO -->

            <h5>Run test script</h5>
            <!-- TODO -->

            <h5>Run grading script</h5>
            <!-- TODO -->
            <br>


        </div>
        <div class="col">
            <% if (locals.assignment.spec && locals.assignment.spec.path) { %>
                    <iframe class="spec col scroll-col off-white-bg" src="<%= assignment.spec.path %>" frameborder="0"></iframe>
            <% } %>
        </div>
    </div>
</div>

<script src="/js/file-upload.js"></script>

<%- include partials/footer.ejs %>
