<%- include partials/header.ejs %>
<head>
    <link rel="stylesheet" href="/css/course.css">
</head>

<div class="container">
    <h2><%= course.name %> </h2>
    <b>Instructors:</b>

    <% instructors.forEach(function(instructor) { %>
          <a href="mailto:<%=instructor.email%>">
            <% if (instructor.id == course.main_instructor) { %>
              <span style="font-weight:bold"><%= instructor.name.first + " " + instructor.name.last + ","%></span>
              <% } %>
          </a>
    <% }); %>

    <% instructors.forEach(function(instructor) { %>
          <a href="mailto:<%=instructor.email%>">
            <% if (instructor.id != course.main_instructor) { %>
              <span><%= instructor.name.first + " " + instructor.name.last %></span>
            <% } %>
          </a>
    <% }); %>

    <br><br>
    <p><%= course.desc %></p>

    <h4 class="mini-title">Assignments</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Due Date</th>
                <th scope="col">Status</th>
                <% if (user.instructor) { %>
                <th scope="col"></th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% assignments.forEach(function(assignment) { %>
                <tr>
                    <th scope="row">
                        <a href="/assignment?assignid=<%=assignment._id%>" class="assignment-link assignment-title <%= (user.instructor)? 'instructor' : 'student' %>">
                            <%= assignment.name %>
                        </a>
                    </th>
                    <td class="<%= assignment.duedate_overdue? 'overdue' : '' %>" ><%= assignment.duedate_formatted %></td>
                    <% if (assignment.status) { %>
                    <td>
                        <b> <%= assignment.status %> </b>
                    </td>
                    <% } %>
                    <% if (user.instructor) { %>
                    <td>
                        <a href="/edit-assignment?assignid=<%=assignment._id%>" class="assignment-link assignment-options">
                            <i class="material-icons">settings</i>
                        </a>
                    </td>
                    <% } %>
                </tr>
            <% }); %>
        </tbody>
    </table>
        <a href="/create-assignment?courseid=<%=course._id%>" class="add-assignment">
            <i class="material-icons">add_circle</i>
        </a>
</div>

<%- include partials/footer.ejs %>
