<%- include partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>        
        <div class="col-md-6">
            <h2> Course List </h2>
        </div>
        <div class="col-md-3"></div>        
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ul class="list-group">
            <% courselist.forEach(function(course) { %>
                <li class="list-group-item">
                    <a href='<%= "/course?courseid=" + course._id %>'>
                        <b>Course Name:</b> <%= course.name %> 
                    </a>
                    <% if (instructor) { %>
                    <a href='<%= "/edit-course?courseid=" + course._id %>'>
                        <i style="float: right;" class="material-icons">settings</i>
                    </a>
                    <% } %>
                </li>
                <br>
            <% }); %>
                <li style='border-style:dashed;' class="list-group-item">
                    <a href='/enroll'>Join a course</a>
                    <a href='/enroll'>
                        <i style="float: right;" class="material-icons">add</i>
                    </a>
                </li>
                <br>
                <% if (instructor) { %>
                <li style='border-style:dashed;' class="list-group-item">
                    <a href='/create-course'>Create a course</a>
                    <a href='/create-course'>
                        <i style="float: right;" class="material-icons">add</i>
                    </a>
                </li>    
                <% } %>
            </ul>
        </div>
    </div>
</div>

<%- include partials/footer.ejs %>
