<%- include partials/header.ejs %>

<div class="container">

    <div class="row">
        <div class="col-md-3"></div>        
        <div class="col-md-6">
            <h2> Course Page for <%- coursename %> </h2>
        </div>
        <div class="col-md-3"></div>        
    </div>
    <div class="row">
        
        <div class="col">
            <ul class="list-group">
            <% assignments.forEach(function(dat) { %>
                <!-- TODO: make this go to specific assignment page - How will we structure URLs? -->                
                <a class="list-group-item list-group-item-action" href="/assignment">
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-10">
                                <b>Assignment:</b> <%= dat.assignName %> <br>
                                <b>Due Date:</b> <%= dat.dueDate%>
                            </div>
                            <div class="col-2">
                                <!-- TODO: Add delete course onclick handler 
                                    + logic to authenticate deletion (owns course).-->
                                <button type="button" class="btn btn-danger" onclick="">Delete Assignment</button>
                            </div>
                        </div>
                    </div>
                </a>
            <% }); %>
            </ul>
        </div>
                
    </div>
</div>

<%- include partials/footer.ejs %>
