<%- include partials/header.ejs %>
<head>
    <link rel="stylesheet" href="/css/course.css">
</head>

<div class="container">

    <h2><%- course.name %> </h2>
    <p><%= course.desc %></p>
    <div class="assignments-container">
        <% assignments.forEach(function(assignment) { %>
        <div class="assignment">
            <div class="assignment-header">
                <a href="/assignment?assignid=<%=assignment._id%>" class="assignment-link assignment-title <%= (user.instructor)? 'instructor' : 'student' %>">
                    <%= assignment.name %>
                </a>
                <% if (user.instructor) { %>
                <a href="/edit-assignment?assignid=<%=assignment._id%>" class="assignment-link assignment-options">
                    <i class="material-icons">settings</i>
                </a>
                <% } %>
            </div>
            <a class="assignment-link"  href="/assignment?assignid=<%=assignment._id%>">
                <div class="assignment-body">
                    <i><%= assignment.desc %></i>
                    <br><br>
                    <!-- TODO: Include grade. -->
                    <b>Due Date:</b> <%= assignment.grading.due_date%><br>
                </div>
            </a>
        </div>
        <% }); %>
        <a class="assignment-link assignment add-assignment" href="/create-assignment?courseid=<%=course._id%>">
            Add Assignment
        </a>
    </div>
</div>

<%- include partials/footer.ejs %>
