<%- include partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Course Customization Page</h2>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="#" method="post">
                <%- include partials/courseform.ejs %>
                <br>
                <h3>Student Code: <%= course.student_enrollment_code %></h2>
                <h3>Instructor Code: <%= course.instructor_enrollment_code %></h2>
                <br>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
            <button onclick="deleteCourse()" class="btn">Delete</button>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<script>
    async function deleteCourse() {
        let response = await fetch('#', {
            credentials: 'include', method: 'DELETE'
        });
    }
</script>

<%- include partials/footer.ejs %>
